/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  // *behavior: url(/scripts/boxsizing.htc); // <--- Use this for <= IE7 https://github.com/Schepp/box-sizing-polyfill
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $body;
  line-height: $body-l;
  
  color: $base-color;
  @include pt;
  
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, ul, ol, blockquote {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  @include relative;
  @include upper;
  line-height: 20px;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $size1;
  color: $spot1;
}

h2 {
  @include pt-bold;
  text-transform: none;
  letter-spacing: 0;
  font-size: $size2;
  line-height: 29px;
}
h3 {
  font-size: $size3;
}
h4 {}
h5 {}

a {
  color: $spot1;
  text-decoration: none;
  &:hover {
    color: $spot1;
  }
  &:active {}
}

p, ol, ul {}

p {
  // max-width: 300px;
}

ol {}

ul {}

strong { font-weight: bold; }
em { font-style: italic; }

hr {}

blockquote {}

form {}
label {}
input {}
input[type=text] {}
textarea {}
select{}
