#programs-list {
  @include grid;
  margin-bottom: 100px;
  
  .program {
    @include col(3);
  }
  
  .program.md {
    @include col(2);
    
    li a {
      width: 100%;
    }
  }
  
  h2 {
    @include pt-bold;
    font-size: 15px;
    a {
      color: $base-color;
    }
  }
  
  li a {
    @include relative;
    color: $base-color;
    font-size: 13px;
    line-height: 20px;
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  
}

#programs-info {
  width: $left-col;
  height: 2px;
  float: left;
}



#designers-list {
  @include grid;
  
  .designer {
    @include col(6);
    margin-bottom: 50px;
    
    &:nth-child(2n+1) {
      clear: left;
      padding-right: 100px;
    }
    
    &:nth-child(2n) {
      padding-left: 100px;
    }
  }
  
  .designer__info {
    border-bottom: $spot1 2px solid;
    height: 92px;
    margin-bottom: 18px;
  }
  
  .designer__headshot {
    float: left;
    margin: 0 30px 0 10px;
  }
  
  .designer__info-right {
    float: left;
    margin-top: 20px;
    .program-link {
      @include uppercase(1px);
      color: $spot1;
    }
  }  
  
  .designer__name {
    @include uppercase(1px);
    margin-bottom: 0;
    font-size: 22px;
    a {
      color: $base-color;
    }
  }
  
  .designer__posts {
    float: left;
    clear: left;
    width: 100%;
    a {
      width: percentage(1/3);
      display: block;
      float: left;
      padding: 0 13px;
      img {
        width: 100%;
        height: auto;
        @include single-box-shadow(rgba(100, 100, 100, 0.2), 0, 0, 10px);
      }
    }
  }
  
  .designer__posts-wrapper {
    @include grid;
    margin: 0 -13px;
  }
  
}





.designer-single {

  
  .designer-single__info {
    @include grid;
    position: relative;
    > div {
      min-height: 2px;
      margin-bottom: 20px;
    }
  }
  .designer-single__info-border {
    border-top: $spot1 2px solid;
    margin: 0 0 1em;
  }
  
  .designer-single__name {
    @include col(4);
    
    h2 {
      @include uppercase(2px);
    }
    
    .program-link {
      @include uppercase(1px);
    }
    
  }
  
  .designer-single__posts-list {
    @include col(3);
    @extend .relative;
    a {
      display: block;
    }
  }
  
  .designer-single__portfolio {
    @include col(2);
    @extend .relative;
    a {
      display: block;
    }
  }
  
  .designer-single__headshot {
    position: absolute;
    bottom: 0;
    right: $gutter;
    margin: 0 !important;
    img {
      margin-right: 10px;
      float: right;
    }
  }
  
  
  
}