@mixin menu-link {
  padding: 20px 0;
  display: inline-block;
  font-size: $size4;
  line-height: 1em;
  margin: 0;
  @include relative;
  @include upper;
}

#header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#header {
  @include single-box-shadow(rgba(100, 100, 100, 0.2), 0, 0, 15px);
  background: $white;
  position: relative;
  z-index: 100;
  a {
    color: $base-color;
  }
}

#header-inner-wrapper {
  @include wrapper;
}

#header-inner {
  @include grid;
}

#site-title {
  @include menu-link;
  @include col(3);
}

.menu {
  margin: 0;
  a {
    @include menu-link;
  }
  li {
    display: inline-block;
    @include col(2);
  }
}

.sub-menu-wrapper {
  position: absolute;
  width: 100%;
  z-index: 8;
  @include transition(top 0.2s);
  &.open {
    top: $header-height !important;
  }
}

.sub-menu {
  @include single-box-shadow(rgba(100, 100, 100, 0.2), 0, 0, 6px);
  background: $white;
  padding: 20px 0;
  min-height: 100px;
  .sub-menu-inner {
    @include wrapper;
  }
}