#index-posts {
  margin-bottom: 3em;
}

.intro-boxes {
  @include grid;
  clear: left;
  margin-bottom: 2em;
  margin-top: 3em;
  
  > div {
    @include col(3);
  }

  h3 {
    @include pt-bold;
    text-transform: none;
    letter-spacing: 0;
  }
  
  h5 {
    margin: 0;
  }
  
  p {
    @include relative-medium;
    @include black-links;
    font-size: 11px;
    line-height: 17px;
  }
}