#posts {
  @include grid;  
}

.post {
  @include col(3);
  color: $spot1;
  margin-bottom: 50px;
  
  h4 {
    border-bottom: $spot1 2px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
    line-height: 17px;
    a {
      color: $base-color;
    }
  }
  
  .post__image-link {
    display: block;
    margin-bottom: 10px;
    @include single-box-shadow(rgba(100, 100, 100, 0.4), 0, 0, 15px);
    @include transition(box-shadow 0.2s);
    &:hover {
      @include single-box-shadow(rgba(50, 50, 50, 0.6), 0, 0, 15px);
    }
  }
  
  img {
    width: 100%;
    height: auto;
  }  
  
  .post__media, .post__author {
    @include relative;
    border-bottom: $grey 1px solid;
    padding: 5px 0;
  }
  
}





.post-single {  
  border-bottom: $grey 1px dotted;
  padding-bottom: 1em;
  margin-bottom: 3em;
  
  &:last-child {
    border: none;
  }
  
  .post-single__wrapper {
    @include grid;
    position: relative;
  }
  
  .post-single__info {
    @include col(4);
    @extend .relative-medium;
    h2 {
      font-size: 22px;
    }
  }
  
  .post-single__info-section {
    width: 50%;
    float: left;
  }
  
  .post-single__images {
    @include col(8);
  }
  
  .post-single__image {
    margin-bottom: 30px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  
  .post-single__video {
    margin-bottom: 30px;
  }
  
}

