@mixin pt {
  font-family:"PT Serif Caption", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust:0.53;
}

@mixin pt-bold {
  font-family:"PT Serif Bold", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust:0.5;
}

@mixin relative {
  font-family:"Relative Bold", 'Century Gothic', Verdana, sans-serif; 
  font-size-adjust:0.5;
}


.relative {
  @include relative;
}

// https://github.com/jlong/sass-twitter-bootstrap/blob/master/lib/_mixins.scss
@mixin boostrap-clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin upper {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin wrapper {
  @include boostrap-clearfix;
  width: $page-width;
  margin: 0 auto;
}

@mixin uppercase($spacing) {
  @extend .relative;
  text-transform: uppercase;
  letter-spacing: $spacing;
}


$gutter: 24px;

@mixin grid {
  @include boostrap-clearfix;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

@mixin col($cols, $context: 12, $padding: true) {
  width: percentage($cols / $context);
  float: left;
  @if $padding {
    padding-left: $gutter;
    padding-right: $gutter;    
  }
}

