$work-height: 200px;

#work-menu-wrapper {
  @include grid;
}

#work-menu {
  height: $work-height;
  top: -$work-height;
  
  .categories {
    @include col(6, 12, false);
    float: left;
    li {
      @include relative-medium;
      @include col(2, 6);
    }
    
    a {
      color: $base-color;
    }
  }
  
}

#work-menu-title {
  @include col(3);
  
  h2 {
    @extend .pt-bold;
    font-size: 24px;
    margin-bottom: 2em;
  }
  
  p {
    @include uppercase(1px);
    color: $spot1;
  }
}