$base-color: #333;

$page-width: 1045px;
$header-height: 54px;

$left-col: 25%;
$menu-col: 160px;

$white: #fff;
$grey: #aaa;
$spot1: rgb(255, 97, 87);

$body: 13px;
$body-l: 22px;

$size1: 32px;
$size2: 26px;
$size3: 19px;
$size4: 14px;

@import 'utils';
@import 'compass';
@import 'base';

@import 'header';
@import 'designers-menu';
@import 'work-menu';
@import 'intro';

@import 'users';
@import 'posts';

body {
  background: rgb(243, 243, 243);
}

#main {
  width: $page-width;
  margin: 30px auto;
  padding-top: $header-height;
}

.pt-serif {
  @include pt;
}

.relative {
  @include relative;
}