/*
Syntax error: Undefined variable: "$white".
        on line 2 of /Users/tom/Sites/uw/source/css/header.scss

1: /Users/tom/Sites/uw/source/css/header.scss

Backtrace:
/Users/tom/Sites/uw/source/css/header.scss:2
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:97:in `catch'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:144:in `block in run_first_task_found'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:142:in `each'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:142:in `run_first_task_found'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:79:in `block in run_on_changes'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:173:in `each'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:173:in `block (2 levels) in scoped_guards'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:172:in `catch'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:172:in `block in scoped_guards'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:170:in `each'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:170:in `scoped_guards'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard/runner.rb:72:in `run_on_changes'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard.rb:105:in `block (2 levels) in setup_listener'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard.rb:368:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard.rb:365:in `within_preserved_state'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.8.0/lib/guard.rb:104:in `block in setup_listener'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/listener.rb:234:in `call'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/listener.rb:234:in `on_change'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/listener.rb:266:in `block in initialize_adapter'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/adapter.rb:239:in `call'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/adapter.rb:239:in `report_changes'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/adapter.rb:308:in `poll_changed_directories'
/Users/tom/.rvm/gems/ruby-1.9.3-p194/gems/listen-1.1.0/lib/listen/adapter.rb:284:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$white\".\A         on line 2 of /Users/tom/Sites/uw/source/css/header.scss\A \A 1: /Users/tom/Sites/uw/source/css/header.scss"; }
