* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

body { font-size: 13px; line-height: 22px; color: #333333; font-family: "PT Serif Caption", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.53; }

h1, h2, h3, h4, h5, p, ul, ol, blockquote { margin-bottom: 20px; }

h1, h2, h3, h4, h5 { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; margin-bottom: 0.5em; }

h1 { font-size: 32px; color: #ff6157; }

h2 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; text-transform: none; letter-spacing: 0; font-size: 26px; line-height: 29px; }

h3 { font-size: 19px; }

a { color: #ff6157; text-decoration: none; }

p { max-width: 300px; }

strong { font-weight: bold; }

em { font-style: italic; }

#header { background: white; -webkit-box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.2); }
#header a { color: #333333; }

#header-inner { overflow: hidden; *zoom: 1; width: 1045px; margin: 0 auto; }

#site-title { padding: 20px 0; display: inline-block; font-size: 14px; line-height: 1em; margin: 0; font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; float: left; }

.menu { float: right; }
.menu ul { margin: 0; }
.menu a { padding: 20px 0; display: inline-block; font-size: 14px; line-height: 1em; margin: 0; font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; }
.menu li { display: inline; margin-left: 20px; }

#intro-boxes > div { float: left; width: 25%; }
#intro-boxes h3 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; text-transform: none; letter-spacing: 0; }
#intro-boxes h5 { margin: 0; }

#programs .program { float: left; width: 33%; }
#programs h2 { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }
#programs li a { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; color: #333333; font-size: 15px; letter-spacing: 1px; }

.user .user-title { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; }
.user .user-title a { color: #333333; }

body { background: #f3f3f3; }

#main { width: 1045px; margin: 30px auto; }

.pt-serif { font-family: "PT Serif Caption", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.53; }

.relative { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }
