@charset "UTF-8";
.pt-bold, #programs-menu-list .program .program__description, #work-menu-title h2 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; font-weight: bold; }

.relative-book { font-family: "Relative Book", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }

.relative-medium, .post-single .post-single__info, #programs-list li a { font-family: "Relative Medium", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; font-weight: 600; font-style: normal; }

.relative, #programs-menu-list .program .program__name, #work-menu-title p, #designers-list-wrapper > h2, #designers-list .designer__info-right .program-link, #designers-list .designer__name, .designer-single .designer-single__name h2, .designer-single .designer-single__name .program-link, .designer-single .designer-single__posts-list, .designer-single .designer-single__portfolio { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

body { font-size: 13px; line-height: 20px; color: #333333; font-family: "PT Serif Caption", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.53; overflow-x: hidden; }

h1, h2, h3, h4, h5, p, ul, ol, blockquote { margin-bottom: 20px; }

h1, h2, h3, h4, h5 { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; margin-bottom: 0.5em; }

h1 { font-size: 32px; color: #ff6157; }

h2 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; font-weight: bold; text-transform: none; letter-spacing: 0; font-size: 26px; line-height: 29px; }

h3 { font-size: 19px; }

a { color: #ff6157; text-decoration: none; }
a:hover { color: #ff6157; }

strong { font-weight: bold; }

em { font-style: italic; }

#header-wrapper { position: fixed; width: 100%; top: 0; left: 0; z-index: 100; }

#header { -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, 0.2); -moz-box-shadow: 0 0 15px rgba(100, 100, 100, 0.2); box-shadow: 0 0 15px rgba(100, 100, 100, 0.2); background: white; position: relative; z-index: 100; }
#header a { color: #333333; }
#header a:hover { color: #ff6157; }

#header-inner-wrapper { *zoom: 1; width: 1045px; margin: 0 auto; }
#header-inner-wrapper:before, #header-inner-wrapper:after { display: table; content: ""; line-height: 0; }
#header-inner-wrapper:after { clear: both; }

#header-inner { *zoom: 1; margin-left: -24px; margin-right: -24px; }
#header-inner:before, #header-inner:after { display: table; content: ""; line-height: 0; }
#header-inner:after { clear: both; }

#site-title { padding: 20px 0; display: inline-block; font-size: 14px; line-height: 1em; margin: 0; font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; width: 25%; float: left; padding-left: 24px; padding-right: 24px; }

.menu { margin: 0; }
.menu a { padding: 20px 0; display: inline-block; font-size: 14px; line-height: 1em; margin: 0; font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; }
.menu li { display: inline-block; width: 16.66667%; float: left; padding-left: 24px; padding-right: 24px; }

.sub-menu-wrapper { position: absolute; width: 100%; z-index: 8; -webkit-transition: top 0.2s; -moz-transition: top 0.2s; -o-transition: top 0.2s; transition: top 0.2s; }
.sub-menu-wrapper.open { top: 54px !important; }

.sub-menu { -webkit-box-shadow: 0 0 6px rgba(100, 100, 100, 0.2); -moz-box-shadow: 0 0 6px rgba(100, 100, 100, 0.2); box-shadow: 0 0 6px rgba(100, 100, 100, 0.2); background: white; padding: 20px 0; min-height: 100px; }
.sub-menu .sub-menu-inner { *zoom: 1; width: 1045px; margin: 0 auto; }
.sub-menu .sub-menu-inner:before, .sub-menu .sub-menu-inner:after { display: table; content: ""; line-height: 0; }
.sub-menu .sub-menu-inner:after { clear: both; }

#designers-menu { height: 200px; top: -200px; }

#programs-menu { *zoom: 1; margin-left: -24px; margin-right: -24px; }
#programs-menu:before, #programs-menu:after { display: table; content: ""; line-height: 0; }
#programs-menu:after { clear: both; }

#programs-info { width: 33.33333%; float: left; padding-left: 24px; padding-right: 24px; }

#programs-menu-list .program { width: 14.28571%; float: left; padding-left: 24px; padding-right: 24px; }
#programs-menu-list .program span { display: block; }
#programs-menu-list .program .program__link { color: #333333; }
#programs-menu-list .program .program__link:hover { color: #ff6157; }
#programs-menu-list .program .program__name { font-size: 26px; margin-bottom: 10px; }
#programs-menu-list .program .program__description { line-height: 1.3em; }

#work-menu-wrapper { *zoom: 1; margin-left: -24px; margin-right: -24px; }
#work-menu-wrapper:before, #work-menu-wrapper:after { display: table; content: ""; line-height: 0; }
#work-menu-wrapper:after { clear: both; }

#work-menu { height: 200px; top: -200px; }
#work-menu .categories { width: 50%; float: left; float: left; }
#work-menu .categories a { color: #333333; }
#work-menu .categories a:hover { color: #ff6157; }
#work-menu .categories li { font-family: "Relative Medium", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; font-weight: 600; font-style: normal; width: 33.33333%; float: left; padding-left: 24px; padding-right: 24px; position: relative; }
#work-menu .categories li.all a { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }
#work-menu .categories li.current-cat:before { content: '•'; position: absolute; left: 5px; font-size: 1.5em; }

#work-menu-title { width: 25%; float: left; padding-left: 24px; padding-right: 24px; }
#work-menu-title h2 { font-size: 24px; margin-bottom: 2em; }
#work-menu-title p { text-transform: uppercase; letter-spacing: 1px; color: #ff6157; }

.intro-boxes { *zoom: 1; margin-left: -24px; margin-right: -24px; clear: left; margin-bottom: 2em; }
.intro-boxes:before, .intro-boxes:after { display: table; content: ""; line-height: 0; }
.intro-boxes:after { clear: both; }
.intro-boxes > div { width: 25%; float: left; padding-left: 24px; padding-right: 24px; }
.intro-boxes h3 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; font-weight: bold; text-transform: none; letter-spacing: 0; }
.intro-boxes h5 { margin: 0; }

#moment { position: relative; height: 1052px; }
#moment > div { margin-left: -203.5px; position: absolute; height: 1052px; width: 1452px; }

.user .user-title { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; text-transform: uppercase; letter-spacing: 1px; }
.user .user-title a { color: #333333; }

#posts { *zoom: 1; margin-left: -24px; margin-right: -24px; }
#posts:before, #posts:after { display: table; content: ""; line-height: 0; }
#posts:after { clear: both; }

.post { width: 25%; float: left; padding-left: 24px; padding-right: 24px; color: #ff6157; margin-bottom: 50px; }
.post h4 { border-bottom: #ff6157 2px solid; padding-bottom: 5px; margin-bottom: 15px; line-height: 17px; }
.post h4 a { color: #333333; }
.post .post__image-link { display: block; margin-bottom: 10px; -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, 0.4); -moz-box-shadow: 0 0 15px rgba(100, 100, 100, 0.4); box-shadow: 0 0 15px rgba(100, 100, 100, 0.4); -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; -o-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
.post .post__image-link:hover { -webkit-box-shadow: 0 0 15px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0 0 15px rgba(50, 50, 50, 0.6); box-shadow: 0 0 15px rgba(50, 50, 50, 0.6); }
.post img { width: 100%; height: auto; }
.post .post__media, .post .post__author { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; border-bottom: #aaaaaa 1px solid; padding: 5px 0; }

.post-single { border-bottom: #aaaaaa 1px dotted; padding-bottom: 1em; margin-bottom: 3em; }
.post-single:last-child { border: none; }
.post-single .post-single__wrapper { *zoom: 1; margin-left: -24px; margin-right: -24px; position: relative; }
.post-single .post-single__wrapper:before, .post-single .post-single__wrapper:after { display: table; content: ""; line-height: 0; }
.post-single .post-single__wrapper:after { clear: both; }
.post-single .post-single__info { width: 33.33333%; float: left; padding-left: 24px; padding-right: 24px; }
.post-single .post-single__info h2 { font-size: 22px; }
.post-single .post-single__info-section { width: 50%; float: left; }
.post-single .post-single__images { width: 66.66667%; float: left; padding-left: 24px; padding-right: 24px; }
.post-single .post-single__image { margin-bottom: 30px; }
.post-single .post-single__image img { display: block; width: 100%; height: auto; }
.post-single .post-single__video { margin-bottom: 30px; }

#boxshots { position: relative; }
#boxshots img { -webkit-transition: opacity 0.03s; -moz-transition: opacity 0.03s; -o-transition: opacity 0.03s; transition: opacity 0.03s; position: absolute; }
#boxshots.active img { opacity: 0.2; }
#boxshots.active .active { opacity: 1; z-index: 9; }

#programs-list { *zoom: 1; margin-left: -24px; margin-right: -24px; margin-bottom: 100px; }
#programs-list:before, #programs-list:after { display: table; content: ""; line-height: 0; }
#programs-list:after { clear: both; }
#programs-list .program { width: 25%; float: left; padding-left: 24px; padding-right: 24px; padding-right: 0; }
#programs-list .program.md { width: 16.66667%; float: left; padding-left: 24px; padding-right: 24px; }
#programs-list .program.md li a { width: 100%; }
#programs-list h2 { font-family: "PT Serif Bold", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.5; font-weight: bold; font-size: 15px; }
#programs-list h2 a { color: #333333; }
#programs-list li a { -webkit-transition: opacity 0.1s; -moz-transition: opacity 0.1s; -o-transition: opacity 0.1s; transition: opacity 0.1s; color: #333333; font-size: 11px; line-height: 20px; width: 50%; float: left; }
#programs-list li a.active { color: #ff6157 !important; }

#programs-info { width: 25%; height: 2px; float: left; }

#designers-list-wrapper { margin-bottom: 30px; }
#designers-list-wrapper > h2 { text-transform: uppercase; letter-spacing: 0; font-size: 60px; line-height: 100px; border-bottom: #aaaaaa 1px solid; }

#designers-list { *zoom: 1; margin-left: -24px; margin-right: -24px; }
#designers-list:before, #designers-list:after { display: table; content: ""; line-height: 0; }
#designers-list:after { clear: both; }
#designers-list .designer { width: 50%; float: left; padding-left: 24px; padding-right: 24px; margin-bottom: 50px; }
#designers-list .designer:nth-child(2n+1) { clear: left; padding-right: 100px; }
#designers-list .designer:nth-child(2n) { padding-left: 100px; }
#designers-list .designer__info { border-bottom: #ff6157 2px solid; height: 92px; margin-bottom: 18px; }
#designers-list .designer__headshot { float: left; margin: 0 30px 0 10px; }
#designers-list .designer__info-right { float: left; margin-top: 20px; }
#designers-list .designer__info-right .program-link { text-transform: uppercase; letter-spacing: 1px; color: #ff6157; }
#designers-list .designer__name { text-transform: uppercase; letter-spacing: 1px; margin-bottom: 0; font-size: 22px; }
#designers-list .designer__name a { color: #333333; }
#designers-list .designer__posts { float: left; clear: left; width: 100%; }
#designers-list .designer__posts a { width: 33.33333%; display: block; float: left; padding: 0 13px; }
#designers-list .designer__posts a:hover img { -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.4); -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.4); box-shadow: 0 0 10px rgba(100, 100, 100, 0.4); }
#designers-list .designer__posts a img { width: 100%; height: auto; -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, 0.2); -moz-box-shadow: 0 0 10px rgba(100, 100, 100, 0.2); box-shadow: 0 0 10px rgba(100, 100, 100, 0.2); -webkit-transition: box-shadow 0.2s; -moz-transition: box-shadow 0.2s; -o-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
#designers-list .designer__posts-wrapper { *zoom: 1; margin-left: -24px; margin-right: -24px; margin: 0 -13px; }
#designers-list .designer__posts-wrapper:before, #designers-list .designer__posts-wrapper:after { display: table; content: ""; line-height: 0; }
#designers-list .designer__posts-wrapper:after { clear: both; }

.designer-single .designer-single__info { position: fixed; z-index: 5; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 100px; width: 1045px; border-bottom: #ff6157 2px solid; background: #fafafa; padding-top: 84px; top: 0; }
.designer-single .designer-single__info .designer-single__info-wrapper { *zoom: 1; margin-left: -24px; margin-right: -24px; }
.designer-single .designer-single__info .designer-single__info-wrapper:before, .designer-single .designer-single__info .designer-single__info-wrapper:after { display: table; content: ""; line-height: 0; }
.designer-single .designer-single__info .designer-single__info-wrapper:after { clear: both; }
.designer-single .designer-single__info > div { min-height: 2px; margin-bottom: 20px; }
.designer-single .designer-single__info-border { border-top: #ff6157 2px solid; margin: 0 0 1em; }
.designer-single .designer-single__name { width: 33.33333%; float: left; padding-left: 24px; padding-right: 24px; }
.designer-single .designer-single__name h2 { text-transform: uppercase; letter-spacing: 2px; }
.designer-single .designer-single__name .program-link { text-transform: uppercase; letter-spacing: 1px; }
.designer-single .designer-single__posts-list { width: 25%; float: left; padding-left: 24px; padding-right: 24px; }
.designer-single .designer-single__posts-list a { display: block; }
.designer-single .designer-single__portfolio { width: 16.66667%; float: left; padding-left: 24px; padding-right: 24px; }
.designer-single .designer-single__portfolio a { display: block; }
.designer-single .designer-single__headshot { position: absolute; bottom: 0; right: 24px; margin: 0 !important; }
.designer-single .designer-single__headshot img { margin-right: 10px; float: right; }
.designer-single .designer-single__posts { padding-top: 120px; }

body { background: #fafafa; }

#main { width: 1045px; margin: 30px auto; padding-top: 54px; }

.pt-serif { font-family: "PT Serif Caption", Georgia, 'Times New Roman', Times, serif; font-size-adjust: 0.53; }

.relative, #programs-menu-list .program .program__name, #work-menu-title p, #designers-list-wrapper > h2, #designers-list .designer__info-right .program-link, #designers-list .designer__name, .designer-single .designer-single__name h2, .designer-single .designer-single__name .program-link, .designer-single .designer-single__posts-list, .designer-single .designer-single__portfolio { font-family: "Relative Bold", 'Century Gothic', Verdana, sans-serif; font-size-adjust: 0.5; }
